<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <% @categories.each_with_index do |f, i| %>
        <% if i == 0 %>
            <li class="active"><a href="#tab<%= i %>" data-toggle="tab"><%= f.name %></a></li>
        <% else %>
            <li><a href="#tab<%= i %>" data-toggle="tab"><%= f.name %></a></li>
        <% end %>
    <% end %>
  </ul>
  <div class="tab-content">
    <% @categories.each_with_index do |f, i| %>
        <% if i == 0 %>
            <div class="tab-pane active" id="tab<%= i %>">
        <% else %>
            <div class="tab-pane" id="tab<%= i %>">
        <% end %>
        <%
           products = Product.all
           products.each do |product|

           if product.category_id == f.name

        %>
            <div class="span3" >
              <%= image_tag product.image.url(:medium), :class => 'img-rounded' %>
              <h4> <%= product.title %> </h4>
              <dl>
                <dd>
                  <% product.prices.each do |p|  %>
                      <%= p.quantity %>
                      <%= p.measure %>
                      <%= number_to_currency(p.price, :unit => "€") %>
                      <% if product.quantity && product.quantity != 0 %>
                          <%= button_to t(:add_html), line_items_path(:price_id => p), :remote => true, :class => 'btn btn-mini' %>
                      <% else %>
                          <%= t(:product_not_available) %>
                      <% end %>
                  <% end %>
                </dd>
              </dl>
              <!-- Button to trigger modal -->
              <a href="#<%= product.id %>" role="button" class="btn" data-toggle="modal">View details &raquo;</a>

              <!-- Modal -->
              <div id="<%= product.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel"><%= product.title %></h3>
                </div>
                <div class="modal-body">
                  <%= image_tag product.image.url, :class => 'img-rounded' %>
                  <p><%= sanitize(product.description) %></p>
                </div>
                <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
              </div>
            </div>
                <% end %>
        <% end %>


            </div>
    <% end %>
  </div>
</div>
</div>