<% if product.home == 1 %>
<div class="span3" >
<%= image_tag(product.image_url, :class => 'img-rounded') %>
<h4> <%= product.title %> </h4>
<dl>
		<dd>
				<%= sanitize(product.description) %>
		<dd>
		<dd>
				<% product.prices.each do |p|  %>
                    <%= p.quantity %>
                    <%= p.measure %>
                    <%= number_to_currency(p.price, :unit => "€") %>
                    <% if product.quantity && product.quantity != 0 %>
                        <%= button_to t(:add_html), line_items_path(:price_id => p), :remote => true, :class => 'btn btn-mini' %>
                    <% else %>
                        <%= t(:product_not_available) %>
                    <% end %>
                <% end %>
				<%= t(:availabiity) %>: <%= product.quantity %>
		</dd>
</dl>

<p><a class="btn" href="#">View details &raquo;</a></p>
</div>
<% end %>