
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Montagna Verde Online Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
    <style type="text/css">
      body {
        padding-top: 150px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><%= image_tag("logo.png") %></a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <%= link_to( image_tag("glyphicons_410_facebook.png"), '/', :class => "navbar-link" ) %>
              <%= link_to( image_tag("glyphicons_402_youtube.png"), '/', :class => "navbar-link" ) %>
              <%= link_to( "ENG", '/en', :class => "navbar-link" ) %> |
              <%= link_to( "ITA", '/it', :class => "navbar-link" ) %>
              <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i>
                        <% if session[:user_id] != nil && User.exists?(session[:user_id]) %>
                            <%= User.find(session[:user_id]).name %>
                        <% else %>
                            Please Log In
                        <% end %>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to( "Login", admin_path, :class => "navbar-link" ) %></li>
                    <li class="divider"></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
               </div>
            </p>
            <br><br>
            <ul class="nav">
              <li class="<%= 'active' if current_page?(store_path) %>"><%= link_to t(:home), store_path %></li>
              <li class="<%= 'active' if current_page?(store_path) %>"><%= link_to t(:philosophy), store_path %></li>
              <li class="<%= 'active' if current_page?(vetrina_products_index_path) %>"><%= link_to t(:products), vetrina_products_index_path %></li>
              <li class="<%= 'active' if current_page?(store_path) %>"><%= link_to t(:companybios), store_path %></li>
              <li class="<%= 'active' if current_page?(store_path) %>"><%= link_to t(:agriturismbio), store_path %></li>
              <li class="<%= 'active' if current_page?(store_path) %>"><%= link_to t(:contact), store_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <% if @cart %>
                <%= render @cart %>
              <% end %>
            </ul>
            <% if session[:user_id] %>
		        <ul>
		    	    <li><%= link_to 'Orders', orders_path %></li>
		   			<li><%= link_to 'Products', products_path %></li>
		    	    <li><%= link_to 'Users', users_path %></li>
                    <li><%= link_to 'Product Categories', productcategories_path %></li>
                    <li><%= link_to 'Prices', prices_path %></li>
		  		</ul>
		  		<%= button_to 'Logout', logout_path, :method => :delete, :class => 'btn btn-mini' %>
			<% end %>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <% if @products %>
          <div class="hero-unit">         
            <div id="myCarousel" class="carousel slide">
  												<!-- Carousel items -->
  												<div class="carousel-inner">
  												<% @products.each_with_index do |f, i| %>
  														<% if i == 0 %>
    															<div class="item active">
    													<% else %>
    															<div class="item">
    													<% end %>
    															<%= image_tag(f.image_url, :class => 'img-rounded', 
    																															:width => '870', :height => '480') %>
    															<div class="carousel-caption">
                      <h4><%= f.title %></h4>
                      <p><%= sanitize(f.description) %></p>
                    </div>
    												 </div>
    										<% end %>
  												</div>
  												<!-- Carousel nav -->
  												<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  												<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
												</div>
          </div>
          <% end %>
          <div class="row">
            <%= yield %>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Montagna Verde 2012</p>
      </footer>

    </div><!--/.fluid-container-->
  </div>
  </body>
</html>
